.age{
    height: 39rem;
    transition: opacity 1s;
    position: relative;
    .odm{
        transition: opacity 1s;
    }
    &:hover{
        .touch-2_box{
            opacity: 0;
        }
        .touch-3{
            opacity: 1;
        }
        .odm{
            opacity: 0;
        }
        .low{
            opacity: 1;
            .counter{
                opacity: 1;
                transform: translateY(0);
            }
            .thinking{
                opacity: 1;
                transform: translate(0, 0);
            }
            .therefore{
                opacity: 1;
                transform: translateY(0) rotateZ(0);
            }
        }
    }
}