.low{
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 1s 0s;
    padding: 10%;
    height: 27rem;
    width: 80%;
}

.counter{
    margin: 2rem 0;
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    transform: translateY(-10rem);
    transition: all 2s;
    display: block;
}
.thinking{
    margin: 2rem 0;
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    transform: translate(10rem, -10rem);
    transition: all 2s 2s;
    display: block;
}
.therefore{
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    transform: translateY(10rem) rotateZ(860deg);
    transition: all 2s 5s;
    display: block;
}

